*

!.archive/
!.archive/**

!.builds/

!.builds/Dummy/
!.builds/Dummy/dmenu/
!.builds/Dummy/dmenu/PKGBUILD

!.config/

!.config/Iosevka/
!.config/Iosevka/**

!.config/X11/
!.config/X11/**

!.config/alacritty/
!.config/alacritty/**

!.config/bat/
!.config/bat/**

!.config/direnv/
!.config/direnv/**

!.config/dunst/
!.config/dunst/**

!.config/dwm-status/
!.config/dwm-status/**

!.config/emacs/
!.config/emacs/**

!.config/environment.d/
!.config/environment.d/**

!.config/fd/
!.config/fd/**

!.config/feh/
!.config/feh/**

!.config/fontconfig/
!.config/fontconfig/**

!.config/fzf/
!.config/fzf/**

!.config/git/
!.config/git/**

!.config/htop/
!.config/htop/**

!.config/latexindent/
!.config/latexindent/**

!.config/latexmk/
!.config/latexmk/**

!.config/luarocks/
!.config/luarocks/**

!.config/nix/
!.config/nix/**
.config/nix/registry.json

!.config/nixpkgs/
!.config/nixpkgs/**
.config/nixpkgs/overlays/tmpPkgs.nix

!.config/nnn/
!.config/nnn/quitcd.bash_zsh

!.config/npm/
!.config/npm/**

!.config/nvim/
!.config/nvim/**
.config/nvim/*/packer_compiled.*

!.config/picom/
!.config/picom/**

!.config/python/
!.config/python/**

!.config/readline/
!.config/readline/**

!.config/shell/
!.config/shell/**

!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/clipmenud.service.d/
!.config/systemd/user/clipmenud.service.d/**

!.config/tmux/
!.config/tmux/tmux.conf

!.config/vivid/
!.config/vivid/**

!.config/wget/
!.config/wget/**

!.config/xmobar/
!.config/xmobar/**

!.config/xmonad/
!.config/xmonad/**

!.config/zathura/
!.config/zathura/**

!.config/zsh/
!.config/zsh/.zshrc

!.config/aliasrc
!.config/black
!.config/mimeapps.list
!.config/starship.toml

!.ghc/
!.ghc/ghci.conf

!.gnupg/
!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf

!.local/
!.local/share/

!.local/share/emacs/
!.local/share/emacs/etc/
!.local/share/emacs/etc/eshell/
!.local/share/emacs/etc/eshell/aliases

!.local/share/java/
!.local/share/java/google-java-format/
!.local/share/java/jdtls/
!.local/share/java/*/fetch

!.local/share/source-code-pro-slashed/
!.local/share/source-code-pro-slashed/freeze
!.local/share/source-code-pro-slashed/source-code-pro-slashed

!.ssh/
!.ssh/config

!Projects/
!Projects/Utils/
!Projects/Utils/**

!.bashrc
!.gitignore
!.haskeline
!LICENSE
!README.md
