Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.theme: default

! special
*.foreground:   #FFFFFF
*.background:   #000000
*.cursorColor:  #FFFFFF

! black
*.color0:       #000000
*.color8:       #A8A8A8

! red
*.color1:       #FF8059
*.color9:       #FF8059

! green
*.color2:       #44BC44
*.color10:      #44BC44

! yellow
*.color3:       #D0BC00
*.color11:      #D0BC00

! blue
*.color4:       #2FAFFF
*.color12:      #2FAFFF

! magenta
*.color5:       #FEACD0
*.color13:      #FEACD0

! cyan
*.color6:       #00D3D0
*.color14:      #00D3D0

! white
*.color7:       #FFFFFF
*.color15:      #FFFFFF

! Xmessage
Xmessage*font: -xos4-terminus-medium-r-normal--22-220-72-72-c-110-iso10646-1
